.grid {
	width: stretch;
	height: calc(100vh - ($navbar-height + $filter-height));

	&__container {
		margin: auto;
		padding: 5px;
	}

	&__content {
		padding: 2px;
		height: calc(100vh - ($navbar-height + $filter-height + 14px));
		background-color: $dark-grey;
		display: grid;
		grid-template-columns: repeat(50, auto);
		grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
		gap: 2px;
	}
}

.grid__item {
	min-height: 30px;
	background: $light-grey;
	cursor: pointer;
	transition: background-color 300ms ease-in-out;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;

	&.wall {
		background-color: $dark-grey;
	}

	&__start {
		position: absolute;
		color: $dark-grey;
	}
}
