.grid {
	width: stretch;
	height: calc(100vh - ($navbar-height + $filter-height));

	&__container {
		margin: auto;
		padding: 5px;
	}

	&__content {
		height: calc(100vh - ($navbar-height + $filter-height + 30px));
		border-radius: 5px;
		background-color: $dark-grey;
		display: grid;
		grid-template-columns: repeat(50, auto);
		grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
		gap: 0px;
	}
}

.test {
	min-height: 30px;
	background: $light-grey;
	border: 2px solid $dark-grey;
}
