.header {
	height: $navbar-height;
	background-color: $dark-grey;
	z-index: 2;

	&__nav {
		margin: auto;
		display: flex;
		align-items: center;
		height: 100%;

		&__title {
			color: $text-primary;
			font-size: 2rem;
		}
	}
}
