.button {
	width: 12.5rem;
	height: 2.5rem;
	position: relative;
	border: none;
	outline: none;

	border-radius: 5px;

	cursor: pointer;
	transition: filter 150ms ease-in-out, color 150ms ease-in-out;

	font-size: 14px;

	&.default {
		background-color: $dark-grey;
		color: $white;

		&:hover,
		&:focus {
			filter: brightness(1.15);
		}
	}

	&.primary {
		background-color: $primary-main;
		color: $dark-grey;

		&:hover,
		&:focus {
			background-color: $primary-light;
			filter: brightness(1.05);
		}
	}
}
