//White
$white: #ffffff;
$offwhite: #fafafa;

$black: #000000;
$fadedBlack: rgba(0, 0, 0, 0.2);

//Grey
$grey: #e5e5e5;
$darkGrey: #c0c0c0;

$error: #c9182c;
$success: #38b000;

$primary-main: #341671;
$primary-light: #422680;
$primary-dark: #280659;

$secondary-main: #ae2d68;
$secondary-light: #f54952;
$secondary-dark: #660f56;
